body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0a553 url("../img/purty_wood/purty_wood.png") repeat;
}

.app {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #222 url("../img/broken_noise/broken_noise.png") repeat center;
  padding: 1.5em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  border-bottom: 1px solid #222;
  border-left: 1px solid #333;
  border-top: 1px solid #555;
}

@media screen and (min-width: 767px) {
  .app {
    max-width: 640px;
  }
}

.app::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(22, 22, 22);
  background: -moz-linear-gradient(
    353deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(76, 76, 76, 1) 100%
  );
  background: -webkit-linear-gradient(
    353deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(76, 76, 76, 1) 100%
  );
  background: linear-gradient(
    353deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(76, 76, 76, 1) 100%
  );
}

.app-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #555;
  z-index: 5;
}

.app-header h1 {
  color: #ccc;
  font-size: 12px;
}

.app-header h2 {
  color: yellow;
  font-size: 12px;
}

.app-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  grid-gap: 16px;
  padding: 1.5em 0 0 0;
  height: auto;
  width: 100%;
  border-top: 1px solid #222;
  z-index: 5;
}
.pad-button {
  position: relative;
}
/*
.pad-button:nth-child(1) {
  background-color: red;
  order: 16;
}

.pad-button:nth-child(2) {
  background-color: green;
  order: 15;
}
.pad-button:nth-child(3) {
  background-color: mediumblue;
  order: 14;
}
.pad-button:nth-child(4) {
  background-color: lime;
  order: 13;
}
.pad-button:nth-child(5) {
  background-color: darkblue;
  order: 12;
}
.pad-button:nth-child(6) {
  background-color: crimson;
  order: 11;
}
.pad-button:nth-child(7) {
  background-color: burlywood;
  order: 10;
}
.pad-button:nth-child(8) {
  background-color: fuchsia;
  order: 9;
}
.pad-button:nth-child(9) {
  background-color: lightgoldenrodyellow;
  order: 8;
}
.pad-button:nth-child(10) {
  background-color: yellowgreen;
  order: 7;
}
.pad-button:nth-child(11) {
  background-color: yellow;
  order: 6;
}
.pad-button:nth-child(12) {
  background-color: purple;
  order: 5;
}
.pad-button:nth-child(13) {
  background-color: purple;
  order: 4;
}
.pad-button:nth-child(14) {
  background-color: lightcoral;
  order: 3;
}
.pad-button:nth-child(15) {
  background-color: lightgreen;
  order: 2;
}
.pad-button:nth-child(16) {
  background-color: lightpink;
  order: 1;
}*/

.pad-button-name {
  font-size: 12px;
}
.pad-button-char {
  font-size: 10px;
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.pad-button-id {
  font-size: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
}
